<!-- Start About -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-4">Story About Cospace</h4>
                    <p class="text-muted para-desc mx-auto"><span class="font-weight-bold">Cospace</span> offer a wealth
                        of advantages for self starters, including networking opportunities, daily structure, and
                        increased productivity.</p>

                    <p class="text-muted mb-0">Due to its widespread use as filler text for layouts, non-readability is
                        of great importance: human perception is tuned to recognize certain patterns and repetitions in
                        texts. If the distribution of letters and 'words' is random, the reader will not be distracted
                        from making a neutral judgement on the visual impact and readability of the typefaces
                        (typography), or the distribution of text on the page (layout or type area).</p>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="card feature explore-feature border-0 rounded shadow text-center bg-white">
                            <div class="card-body py-5">
                                <div class="icon rounded-circle shadow d-inline-block">
                                    <i data-feather="wifi" class="fea"></i>
                                </div>
                                <div class="content mt-3">
                                    <h5><a href="javascript:void(0)" class="title text-dark">Free Internet</a></h5>
                                    <a href="javascript:void(0)" class="text-muted small">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end col-->

                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="card feature explore-feature border-0 rounded shadow text-center bg-white">
                            <div class="card-body py-5">
                                <div class="icon rounded-circle shadow d-inline-block">
                                    <i data-feather="clock" class="fea"></i>
                                </div>
                                <div class="content mt-3">
                                    <h5><a href="javascript:void(0)" class="title text-dark">24hr Access</a></h5>
                                    <a href="javascript:void(0)" class="text-muted small">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end col-->

                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="card feature explore-feature border-0 rounded shadow text-center bg-white">
                            <div class="card-body py-5">
                                <div class="icon rounded-circle shadow d-inline-block">
                                    <i data-feather="printer" class="fea"></i>
                                </div>
                                <div class="content mt-3">
                                    <h5><a href="javascript:void(0)" class="title text-dark">Printer & Fax</a></h5>
                                    <a href="javascript:void(0)" class="text-muted small">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end col-->

                    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                        <div class="card feature explore-feature border-0 rounded shadow text-center bg-white">
                            <div class="card-body py-5">
                                <div class="icon rounded-circle shadow d-inline-block">
                                    <i data-feather="user" class="fea"></i>
                                </div>
                                <div class="content mt-3">
                                    <h5><a href="javascript:void(0)" class="title text-dark">Good Coworker</a></h5>
                                    <a href="javascript:void(0)" class="text-muted small">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->

    <div class="container mt-100 mt-60">
        <div class="rounded-md shadow py-5 px-4" style="background: url('images/cta-2.jpg') center center;">
            <div class="row justify-content-center py-md-5 my-lg-5">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <h2 class="title-dark text-white mb-4">Check this video presentation <br> to know more about
                            <span class="font-weight-bold">Cospace</span></h2>
                        <p class="text-light para-desc mx-auto"><span class="font-weight-bold">Cospace</span> offer a
                            wealth of advantages for self starters, including networking opportunities, daily structure,
                            and increased productivity.</p>
                        <a href="http://vimeo.com/287684225" class="play-btn border border-light mt-4 video-play-icon">
                            <i data-feather="play" class="fea icon-ex-md text-white title-dark"></i>
                        </a>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
    </div>
    <!--end container-->

    <!-- Start Price -->
    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">Best Price</h4>
                    <p class="text-muted mb-0 para-desc mx-auto"><span class="font-weight-bold">Cospace</span> offer a
                        wealth of advantages for self starters, including networking opportunities, daily structure, and
                        increased productivity.</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card pricing-rates rounded shadow border-0">
                    <div class="card-body p-0">
                        <div class="text-center bg-light p-4">
                            <span class="text-primary h2"><i class="uil uil-lightbulb"></i></span>
                            <h4 class="title mb-0 mt-2">Individual</h4>
                        </div>
                        <div class="d-flex p-4">
                            <span class="h4 mb-0 mt-2">$</span>
                            <span class="price h1 mb-0">19</span>
                            <span class="h4 align-self-end mb-1">/mo</span>
                        </div>

                        <ul class="feature list-unstyled text-left px-4">
                            <li class="feature-list text-muted"><i data-feather="check"
                                    class="fea icon-sm text-success mr-2"></i>24/7 Access</li>
                            <li class="feature-list text-muted"><i data-feather="check"
                                    class="fea icon-sm text-success mr-2"></i>High speeed WiFi</li>
                            <li class="feature-list text-muted"><i data-feather="check"
                                    class="fea icon-sm text-success mr-2"></i>Car parking lot</li>
                            <li class="feature-list text-muted"><i data-feather="check"
                                    class="fea icon-sm text-success mr-2"></i>Lounge room access</li>
                        </ul>
                        <div class="p-4">
                            <a href="javascript:void(0)" class="btn btn-outline-primary">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card pricing-rates best-plan rounded shadow-md bg-light overflow-hidden border-0">
                    <div class="lable text-center bg-light py-1">
                        <small class="best text-primary mb-0 text-uppercase font-weight-bold">Best</small>
                    </div>
                    <div class="card-body p-0">
                        <div class="text-center bg-primary p-4">
                            <span class="text-white-50 h2"><i class="uil uil-airplay"></i></span>
                            <h4 class="title text-white mb-0 mt-2">Desk</h4>
                        </div>
                        <div class="d-flex p-4">
                            <span class="h4 mb-0 mt-2">$</span>
                            <span class="price h1 mb-0">39</span>
                            <span class="h4 align-self-end mb-1">/mo</span>
                        </div>

                        <ul class="feature list-unstyled text-left px-4">
                            <li class="feature-list text-muted"><i data-feather="check"
                                    class="fea icon-sm text-success mr-2"></i>24/7 Access</li>
                            <li class="feature-list text-muted"><i data-feather="check"
                                    class="fea icon-sm text-success mr-2"></i>High speeed WiFi</li>
                            <li class="feature-list text-muted"><i data-feather="check"
                                    class="fea icon-sm text-success mr-2"></i>Car parking lot</li>
                            <li class="feature-list text-muted"><i data-feather="check"
                                    class="fea icon-sm text-success mr-2"></i>Lounge room access</li>
                        </ul>
                        <div class="p-4">
                            <a href="javascript:void(0)" class="btn btn-primary">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card pricing-rates rounded shadow border-0">
                    <div class="card-body p-0">
                        <div class="text-center bg-light p-4">
                            <span class="text-primary h2"><i class="uil uil-rocket"></i></span>
                            <h4 class="title mb-0 mt-2">Office</h4>
                        </div>
                        <div class="d-flex p-4">
                            <span class="h4 mb-0 mt-2">$</span>
                            <span class="price h1 mb-0">59</span>
                            <span class="h4 align-self-end mb-1">/mo</span>
                        </div>

                        <ul class="feature list-unstyled text-left px-4">
                            <li class="feature-list text-muted"><i data-feather="check"
                                    class="fea icon-sm text-success mr-2"></i>24/7 Access</li>
                            <li class="feature-list text-muted"><i data-feather="check"
                                    class="fea icon-sm text-success mr-2"></i>High speeed WiFi</li>
                            <li class="feature-list text-muted"><i data-feather="check"
                                    class="fea icon-sm text-success mr-2"></i>Car parking lot</li>
                            <li class="feature-list text-muted"><i data-feather="check"
                                    class="fea icon-sm text-success mr-2"></i>Lounge room access</li>
                        </ul>
                        <div class="p-4">
                            <a href="javascript:void(0)" class="btn btn-outline-primary">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
    <!-- End Price -->
</section>
<!--end section-->
<!-- End About -->

<!-- Start -->
<section class="section bg-light">
    <!-- Start Spaces -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">Our Spaces</h4>
                    <p class="text-muted mb-0 para-desc mx-auto"><span class="font-weight-bold">Cospace</span> offer a
                        wealth of advantages for self starters, including networking opportunities, daily structure, and
                        increased productivity.</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <div class="row mt-4 pt-2">
            <ul class="col container-filter list-unstyled categories-filter text-center mb-0" id="filter">
                <li class="list-inline-item"><a class="categories border d-block text-dark rounded active"
                        data-filter="*">All</a></li>
                <li class="list-inline-item"><a class="categories border d-block text-dark rounded"
                        data-filter=".individual">Individual</a></li>
                <li class="list-inline-item"><a class="categories border d-block text-dark rounded"
                        data-filter=".dedicated">Dedicated</a></li>
                <li class="list-inline-item"><a class="categories border d-block text-dark rounded"
                        data-filter=".private">Private</a></li>
                <li class="list-inline-item"><a class="categories border d-block text-dark rounded"
                        data-filter=".company">Company</a></li>
            </ul>
        </div>
        <!--end row-->

        <div class="row projects-wrapper">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2 individual">
                <div
                    class="card work-container work-modern position-relative overflow-hidden shadow rounded-md border-0">
                    <div class="card-body p-0">
                        <img src="{{ asset('assets/images/work/7.jpg') }}" class="img-fluid rounded-md" alt="work-image">
                        <div class="overlay-work bg-dark"></div>
                        <div class="content">
                            <a href="javascript:void(0)" class="text-white d-block font-weight-bold">Individual
                                Seat</a>
                            <small class="text-light">Co-space</small>
                        </div>
                        <div class="icons text-center">
                            <a href="images/work/7.jpg"
                                class="text-primary work-icon bg-white d-inline-block rounded-pill mfp-image"><i
                                    data-feather="camera" class="fea icon-sm"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2 private">
                <div
                    class="card work-container work-modern position-relative overflow-hidden shadow rounded-md border-0">
                    <div class="card-body p-0">
                        <img src="{{ asset('assets/images/work/8.jpg') }}" class="img-fluid rounded-md" alt="work-image">
                        <div class="overlay-work bg-dark"></div>
                        <div class="content">
                            <a href="javascript:void(0)" class="text-white d-block font-weight-bold">Private
                                Office</a>
                            <small class="text-light">Co-space</small>
                        </div>
                        <div class="icons text-center">
                            <a href="images/work/8.jpg"
                                class="text-primary work-icon bg-white d-inline-block rounded-pill mfp-image"><i
                                    data-feather="camera" class="fea icon-sm"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2 dedicated">
                <div
                    class="card work-container work-modern position-relative overflow-hidden shadow rounded-md border-0">
                    <div class="card-body p-0">
                        <img src="{{ asset('assets/images/work/9.jpg') }}" class="img-fluid rounded-md" alt="work-image">
                        <div class="overlay-work bg-dark"></div>
                        <div class="content">
                            <a href="javascript:void(0)" class="text-white d-block font-weight-bold">Dedicated
                                Space</a>
                            <small class="text-light">Co-space</small>
                        </div>
                        <div class="icons text-center">
                            <a href="images/work/9.jpg"
                                class="text-primary work-icon bg-white d-inline-block rounded-pill mfp-image"><i
                                    data-feather="camera" class="fea icon-sm"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2 individual">
                <div
                    class="card work-container work-modern position-relative overflow-hidden shadow rounded-md border-0">
                    <div class="card-body p-0">
                        <img src="{{ asset('assets/images/work/10.jpg') }}" class="img-fluid rounded-md" alt="work-image">
                        <div class="overlay-work bg-dark"></div>
                        <div class="content">
                            <a href="javascript:void(0)" class="text-white d-block font-weight-bold">Individual
                                Seat</a>
                            <small class="text-light">Co-space</small>
                        </div>
                        <div class="icons text-center">
                            <a href="images/work/10.jpg"
                                class="text-primary work-icon bg-white d-inline-block rounded-pill mfp-image"><i
                                    data-feather="camera" class="fea icon-sm"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2 dedicated">
                <div
                    class="card work-container work-modern position-relative overflow-hidden shadow rounded-md border-0">
                    <div class="card-body p-0">
                        <img src="{{ asset('assets/images/work/11.jpg') }}" class="img-fluid rounded-md" alt="work-image">
                        <div class="overlay-work bg-dark"></div>
                        <div class="content">
                            <a href="javascript:void(0)" class="text-white d-block font-weight-bold">Dedicated
                                Space</a>
                            <small class="text-light">Co-space</small>
                        </div>
                        <div class="icons text-center">
                            <a href="images/work/11.jpg"
                                class="text-primary work-icon bg-white d-inline-block rounded-pill mfp-image"><i
                                    data-feather="camera" class="fea icon-sm"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2 company">
                <div
                    class="card work-container work-modern position-relative overflow-hidden shadow rounded-md border-0">
                    <div class="card-body p-0">
                        <img src="{{ asset('assets/images/work/12.jpg') }}" class="img-fluid rounded-md" alt="work-image">
                        <div class="overlay-work bg-dark"></div>
                        <div class="content">
                            <a href="javascript:void(0)" class="text-white d-block font-weight-bold">Copmany Space</a>
                            <small class="text-light">Co-space</small>
                        </div>
                        <div class="icons text-center">
                            <a href="images/work/12.jpg"
                                class="text-primary work-icon bg-white d-inline-block rounded-pill mfp-image"><i
                                    data-feather="camera" class="fea icon-sm"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
    <!-- End space -->

    <!-- Start Testi -->
    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-4">Here from our members</h4>
                    <p class="text-muted mb-0 para-desc mx-auto"><span class="font-weight-bold">Cospace</span> offer a
                        wealth of advantages for self starters, including networking opportunities, daily structure, and
                        increased productivity.</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <div class="row">
            <div class="col-12 mt-1 pt-2">
                <div id="client-testi" class="owl-carousel owl-theme">
                    <div class="client-testi rounded shadow-md text-center mt-5 m-3">
                        <img src="{{ asset('assets/images/client/01.jpg') }}" class="avatar avatar-small rounded-circle shadow-lg testi-img"
                            alt="">
                        <div class="content p-4">
                            <ul class="list-unstyled mb-0 mt-4 text-warning">
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            </ul>
                            <p class="text-primary">Calvin Carlo <small
                                    class="text-muted d-block ml-2">Manager</small></p>
                            <p class="text-muted mt-2 mb-0">" According to most sources, Lorum Ipsum can be traced back
                                to a text composed by Cicero Launch your campaign and benefit from our expertise. "</p>
                        </div>
                        <div class="quote-icon">
                            <img src="{{ asset('assets/images/illu/quotation.svg') }}" class="avatar avatar-medium" style="opacity: 0.05;"
                                alt="">
                        </div>
                    </div>
                    <!--end testi content-->

                    <div class="client-testi rounded shadow-md text-center mt-5 m-3">
                        <img src="{{ asset('assets/images/client/02.jpg') }}" class="avatar avatar-small rounded-circle shadow-lg testi-img"
                            alt="">
                        <div class="content p-4">
                            <ul class="list-unstyled mb-0 mt-4 text-warning">
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            </ul>
                            <p class="text-primary">Lily Lamba <small class="text-muted d-block ml-2">Manager</small>
                            </p>
                            <p class="text-muted mt-2 mb-0">" According to most sources, Lorum Ipsum can be traced back
                                to a text composed by Cicero Launch your campaign and benefit from our expertise. "</p>
                        </div>
                        <div class="quote-icon">
                            <img src="images/illu/quotation.svg" class="avatar avatar-medium" style="opacity: 0.05;"
                                alt="">
                        </div>
                    </div>
                    <!--end testi content-->

                    <div class="client-testi rounded shadow-md text-center mt-5 m-3">
                        <img src="images/client/03.jpg" class="avatar avatar-small rounded-circle shadow-lg testi-img"
                            alt="">
                        <div class="content p-4">
                            <ul class="list-unstyled mb-0 mt-4 text-warning">
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            </ul>
                            <p class="text-primary">Crista Joseph <small
                                    class="text-muted d-block ml-2">Manager</small></p>
                            <p class="text-muted mt-2 mb-0">" According to most sources, Lorum Ipsum can be traced back
                                to a text composed by Cicero Launch your campaign and benefit from our expertise. "</p>
                        </div>
                        <div class="quote-icon">
                            <img src="images/illu/quotation.svg" class="avatar avatar-medium" style="opacity: 0.05;"
                                alt="">
                        </div>
                    </div>
                    <!--end testi content-->

                    <div class="client-testi rounded shadow-md text-center mt-5 m-3">
                        <img src="images/client/04.jpg" class="avatar avatar-small rounded-circle shadow-lg testi-img"
                            alt="">
                        <div class="content p-4">
                            <ul class="list-unstyled mb-0 mt-4 text-warning">
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            </ul>
                            <p class="text-primary">Ashu Kats <small class="text-muted d-block ml-2">Manager</small>
                            </p>
                            <p class="text-muted mt-2 mb-0">" According to most sources, Lorum Ipsum can be traced back
                                to a text composed by Cicero Launch your campaign and benefit from our expertise. "</p>
                        </div>
                        <div class="quote-icon">
                            <img src="images/illu/quotation.svg" class="avatar avatar-medium" style="opacity: 0.05;"
                                alt="">
                        </div>
                    </div>
                    <!--end testi content-->

                    <div class="client-testi rounded shadow-md text-center mt-5 m-3">
                        <img src="images/client/05.jpg" class="avatar avatar-small rounded-circle shadow-lg testi-img"
                            alt="">
                        <div class="content p-4">
                            <ul class="list-unstyled mb-0 mt-4 text-warning">
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            </ul>
                            <p class="text-primary">Kavya Rocks <small class="text-muted d-block ml-2">Manager</small>
                            </p>
                            <p class="text-muted mt-2 mb-0">" According to most sources, Lorum Ipsum can be traced back
                                to a text composed by Cicero Launch your campaign and benefit from our expertise. "</p>
                        </div>
                        <div class="quote-icon">
                            <img src="images/illu/quotation.svg" class="avatar avatar-medium" style="opacity: 0.05;"
                                alt="">
                        </div>
                    </div>
                    <!--end testi content-->
                </div>
            </div>
            <!--end col-->

            <div class="col-12 mt-4 pt-2 text-center">
                <div class="alert alert-light alert-pills mb-0" role="alert">
                    <a href="javascript:void(0)" class="badge badge-pill badge-primary mr-2">Feedback</a>
                    <span class="content text-muted"> Leave your feedback</span>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
    <!-- End Testi -->

    <!-- Faq Start -->
    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-4">Frequently asked questions</h4>
                    <p class="text-muted mb-0 para-desc mx-auto"><span class="font-weight-bold">Cospace</span> offer a
                        wealth of advantages for self starters, including networking opportunities, daily structure, and
                        increased productivity.</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <div class="row align-items-center">
            <div class="col-lg-6">
                <img src="images/illu/office-bro.svg" class="img-fluid" alt="">
            </div>
            <!--end col-->

            <div class="col-lg-6">
                <div class="faq-content">
                    <div class="accordion" id="accordionExample2">
                        <div class="card border rounded mb-2">
                            <a data-toggle="collapse" href="#collapsefour" class="faq position-relative"
                                aria-expanded="true" aria-controls="collapsefour">
                                <div class="card-header border-0 bg-light p-3 pr-5" id="headingfour">
                                    <div class="media">
                                        <h6 class="title mb-0"> Can I come take a tour anytime? </h6>
                                    </div>
                                </div>
                            </a>
                            <div id="collapsefour" class="collapse show" aria-labelledby="headingfour"
                                data-parent="#accordionExample2">
                                <div class="card-body">
                                    <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem
                                        Ipsum available, but the majority have suffered alteration in some form.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card border rounded mb-2">
                            <a data-toggle="collapse" href="#collapsefive" class="faq position-relative collapsed"
                                aria-expanded="false" aria-controls="collapsefive">
                                <div class="card-header border-0 bg-light p-3 pr-5" id="headingfive">
                                    <div class="media">
                                        <h6 class="title mb-0"> Do you have student or small company discounts? </h6>
                                    </div>
                                </div>
                            </a>
                            <div id="collapsefive" class="collapse" aria-labelledby="headingfive"
                                data-parent="#accordionExample2">
                                <div class="card-body">
                                    <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem
                                        Ipsum available, but the majority have suffered alteration in some form.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card border rounded mb-2">
                            <a data-toggle="collapse" href="#collapsesix" class="faq position-relative collapsed"
                                aria-expanded="false" aria-controls="collapsesix">
                                <div class="card-header border-0 bg-light p-3 pr-5" id="headingsix">
                                    <div class="media">
                                        <h6 class="title mb-0"> Can I cancel anytime or is there a lock-in period?
                                        </h6>
                                    </div>
                                </div>
                            </a>
                            <div id="collapsesix" class="collapse" aria-labelledby="headingsix"
                                data-parent="#accordionExample2">
                                <div class="card-body">
                                    <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem
                                        Ipsum available, but the majority have suffered alteration in some form.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card border rounded mb-2">
                            <a data-toggle="collapse" href="#collapseone" class="faq position-relative collapsed"
                                aria-expanded="false" aria-controls="collapseone">
                                <div class="card-header border-0 bg-light p-3 pr-5" id="headingone">
                                    <div class="media">
                                        <h6 class="title mb-0"> What is the difference between your room types? </h6>
                                    </div>
                                </div>
                            </a>
                            <div id="collapseone" class="collapse" aria-labelledby="headingone"
                                data-parent="#accordionExample2">
                                <div class="card-body">
                                    <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem
                                        Ipsum available, but the majority have suffered alteration in some form.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card border rounded mb-2">
                            <a data-toggle="collapse" href="#collapsetwo" class="faq position-relative collapsed"
                                aria-expanded="false" aria-controls="collapsetwo">
                                <div class="card-header border-0 bg-light p-3 pr-5" id="headingtwo">
                                    <div class="media">
                                        <h6 class="title mb-0"> Is the laundry facility free? </h6>
                                    </div>
                                </div>
                            </a>
                            <div id="collapsetwo" class="collapse" aria-labelledby="headingtwo"
                                data-parent="#accordionExample2">
                                <div class="card-body">
                                    <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem
                                        Ipsum available, but the majority have suffered alteration in some form.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card border rounded">
                            <a data-toggle="collapse" href="#collapsethree" class="faq position-relative collapsed"
                                aria-expanded="false" aria-controls="collapsethree">
                                <div class="card-header border-0 bg-light p-3 pr-5" id="headingthree">
                                    <div class="media">
                                        <h6 class="title mb-0"> How are you handling safety of the offices? </h6>
                                    </div>
                                </div>
                            </a>
                            <div id="collapsethree" class="collapse" aria-labelledby="headingthree"
                                data-parent="#accordionExample2">
                                <div class="card-body">
                                    <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem
                                        Ipsum available, but the majority have suffered alteration in some form.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end accordion-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
    <!-- Faq End -->
</section>
<!--end section-->
<!-- End -->

<!-- Start Blog -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-4">News & Events</h4>
                    <p class="text-muted mb-0 para-desc mx-auto"><span class="font-weight-bold">Cospace</span> offer a
                        wealth of advantages for self starters, including networking opportunities, daily structure, and
                        increased productivity.</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card blog-post border-0 rounded shadow overflow-hidden">
                    <img src="images/work/7.jpg" class="img-fluid" alt="">
                    <div class="card-body content p-4">
                        <a href="javascript:void(0)" class="title text-dark h5">What makes the best co-working
                            space?</a>

                        <div class="post-meta d-flex justify-content-between mt-3">
                            <ul class="list-unstyled mb-0">
                                <li class="list-inline-item mr-2 mb-0"><a href="javascript:void(0)"
                                        class="text-muted like"><i class="mdi mdi-heart-outline mr-1"></i>33</a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)"
                                        class="text-muted comments"><i class="mdi mdi-comment-outline mr-1"></i>08</a>
                                </li>
                            </ul>
                            <a href="javascript:void(0)" class="text-muted readmore">Read More <i
                                    class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card blog-post border-0 rounded shadow overflow-hidden">
                    <img src="images/work/8.jpg" class="img-fluid" alt="">
                    <div class="card-body content p-4">
                        <a href="javascript:void(0)" class="title text-dark h5">Co-Working Spaces and Their
                            Benefits</a>

                        <div class="post-meta d-flex justify-content-between mt-3">
                            <ul class="list-unstyled mb-0">
                                <li class="list-inline-item mr-2 mb-0"><a href="javascript:void(0)"
                                        class="text-muted like"><i class="mdi mdi-heart-outline mr-1"></i>33</a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)"
                                        class="text-muted comments"><i class="mdi mdi-comment-outline mr-1"></i>08</a>
                                </li>
                            </ul>
                            <a href="javascript:void(0)" class="text-muted readmore">Read More <i
                                    class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card blog-post border-0 rounded shadow overflow-hidden">
                    <img src="images/work/9.jpg" class="img-fluid" alt="">
                    <div class="card-body content p-4">
                        <a href="javascript:void(0)" class="title text-dark h5">Legal corner by Ejaso/ETL</a>

                        <div class="post-meta d-flex justify-content-between mt-3">
                            <ul class="list-unstyled mb-0">
                                <li class="list-inline-item mr-2 mb-0"><a href="javascript:void(0)"
                                        class="text-muted like"><i class="mdi mdi-heart-outline mr-1"></i>33</a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)"
                                        class="text-muted comments"><i class="mdi mdi-comment-outline mr-1"></i>08</a>
                                </li>
                            </ul>
                            <a href="javascript:void(0)" class="text-muted readmore">Read More <i
                                    class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- End Blog -->
